<div id="container">
    <a href="/tweets/new">New tweet</a>
    <a href="/private">Back to my Profile</a>
    <a href="/auth/logout">Logout</a>

    <div class="tweet-container">
        <% tweets.forEach(function(tweet) { %>
            <div class="tweet-container">
              <p><%= tweet.tweet %></p>
            </div>
          <% }) %>
    </div>



</div>
